body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btnRegistrar {
  background: fixed;
  font-style: italic;
  color: aliceblue;
  font-display: 10px;
  border: none;
  font-size: 20px;
}
.btnRegistrar :hover{
    color: rgb(90, 36, 140);
}

.login-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
a{
    text-decoration: none;
}

input,
select,
button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
input {
  width: 87%;
}
